<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <main>
        <div class="container mx-auto">
            <div class="flex justify-center">
                <div class="w-full max-w-xs">
                    <% if (locals.isLoggedIn) { %>
                        <form action="/create" method="post"
                            class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 my-12">
                            <p class="flex justify-center pb-12 text-base font-bold tracking-tight md:tracking-widest">
                                New
                                Article</p>
                            <div class="mb-4">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                                    Title
                                </label>
                                <input
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                                    id="title" name="title" type="text" placeholder="Title">
                            </div>
                            <div class="mb-6">
                                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                                    Content
                                </label>
                                <textarea placeholder="What do you think?"
                                    class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                    id="content" name="content"></textarea>
                            </div>
                            <div class="flex items-center justify-between">
                                <button type="submit" class="text-xs border border-gray-600 text-gray-600 px-4 py-2 rounded-full inline-flex items-center hover:bg-gray-600 hover:text-white">
                                    Publish
                                </button>
                            </div>
                        </form>
                    <% } else { %>
                        <div class="flex flex-col justify-center h-screen">
                            <div class="border p-4 rounded-2xl shadow flex flex-col">
                                <p class="text-lg font-bold">Let's log in now!</p>
                                <p>Please log in to create<br>the the article.</p>
                                <a class="text-xs border border-gray-600 text-gray-600 px-4 py-2 rounded-full inline-flex items-center hover:bg-gray-600 hover:text-white my-4 mr-32 " href="/signin">Log in</a>
                            </div>
                        </div>
                    <% } %>    
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>