<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In | Simple Blog</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <main>
        <div class="flex justify-center">
            <div class="w-full max-w-xs">
                <form action="/signin" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 my-32">
                    <p class="flex justify-center py-12 text-base font-bold tracking-tight md:tracking-widest">Login</p>
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                            Email
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
                            id="email" name="email" type="text" placeholder="Email">
                    </div>
                    <div class="mb-6">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                            Password
                        </label>
                        <input
                            class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
                            id="password" name="password" type="password" placeholder="********">
                        <p class="text-red text-xs italic">Please enter your password.</p>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit" class="text-xs">
                            Sign in
                        </button>
                        <span class="text-xs">Don't have an account?
                            <a href="/signup" class="font-bold text-xs text-blue-900 hover:text-blue-darker">
                                Sign up
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>